<!DOCTYPE html>
<html lang="en">
<head>
        <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css" />
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}

</head>

<body>        
    {% block content %}
    {% endblock %}

        
        <footer>
            <nav>
                <ul>

                    <li><a href="{{ SITEURL }}/about.html">About / Contact</a></li>

                    <li>:: <a href="{{ SITEURL }}/projects.html">Projects</a></li>

                       <!--  <li>:: <a href="{{ SITEURL }}/now.html">Now</a></li> -->
                
                    <li>:: <a href="{{ SITEURL }}/tags.html">Tags</a></li>
                
                
                    <li>:: <a href="{{ SITEURL }}/archives.html">Archives</a></li>
                
                </ul>
            </nav>
                
        </footer>

</body>
</html>
